Repository oota-sushikuitee/nigiri, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github-management, area/documentation, area/testing, area/cmd, area/pkg, area/internal

update: main.go
  cmd/nigiri/main.go
Labels: area/cmd

update: gitignore
  .gitignore
Labels: none

update: main.go
  cmd/nigiri/main.go
Labels: area/cmd

update: Makefile
  Makefile
Labels: none

feat: add examplr
  example/.nigiri.yml
Labels: none

rename
  .github/workflows/golangci-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
Labels: area/github-management

Update LICENSE
  LICENSE
Labels: none

.github/labeler.yml:

area/github-management:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

area/documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "**/*.txt"
          - "docs/**"

area/testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "**/testdata/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"

area/pkg:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/**"

area/internal:
  - changed-files:
      - any-glob-to-any-file:
          - "internal/**"

kind/feature:
  - head-branch: ["^feat", "feat"]

kind/bugfix:
  - head-branch: ["^fix", "fix"]

kind:refactor:
  - head-branch: ["^refactor", "refactor"]
